// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
font-size: 3em;
font-weight: bold;
color:#999; }

h2 {
font-size: 5em;
font-weight: bold;
color:#999;}

h1 {
font-size: 5em;
font-weight: bold;
color:#999; }

body
{
background-image:url('http://www.freecomputerwallpapers.net/wallpapers/city_at_night_wallpaper-1920x1080.jpg');
}

.content {
/* Fallback for web browsers that doesn't support RGBa */
background: rgb(255, 255, 255);
/* RGBa with 0.6 opacity */
background: rgba(255, 255, 255, 0.6);
}